@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=Sonsie+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'BioRhyme', serif;
}

nav {
  width: 100%;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

nav .navbar {
  position: absolute;
  right: 3%;
  display: none;
}

nav .navbar > div {
  width: 24px;
  height: 2px;
  background: #000;
  margin: 5px 0;
}

nav .activeNavbar {
  position: absolute;
  right: 3%;
  display: none;
}

nav p {
  font-weight: 300;
  font-size: 1.2rem;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: 1px solid rgba(0, 0, 0, 0.74);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 0.1em;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-links li {
  list-style: none;
  margin: 0 40%;
}

.nav-links li:nth-child(3) {
  margin-left: 120%;
}

.nav-links li a {
  text-decoration: none;
  font-weight: 500;
  color: #000;
  position: relative;
}

.nav-links li a:after {
  content: "";
  position: absolute;
  background: #272727;
  width: 0;
  height: 1px;
  bottom: -1px;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-links li a:hover:after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .nav-links li a:hover:after {
    width: 0%;
  }
}

@media screen and (max-width: 1000px) {
  .nav-links li {
    margin: 0 20%;
  }
  .nav-links li:nth-child(3) {
    margin-left: 100%;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0;
    background: rgba(231, 231, 231, 0.637);
    top: 0;
    left: 0;
    height: 100vh;
    width: 60%;
    z-index: 2;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    padding: 3em 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .nav-links li {
    margin: 0.02em 0;
  }
  .nav-links li:nth-child(3) {
    margin-left: 0%;
  }
  .nav-links li:nth-child(1) {
    border-top: 1px solid rgba(0, 0, 0, 0.459);
  }
  .nav-links a {
    width: 100%;
    display: block;
    padding: 0 2em;
    height: 3.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.459);
  }
  nav .navbar {
    display: block;
  }
}

.activeNav {
  -webkit-transform: translate(0%);
          transform: translate(0%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: calc(100vh - 3em);
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section1 .name {
  width: 15em;
  height: 10em;
  border: 1px solid #000;
}

.section1 .name h1 {
  font-weight: 300;
}

.section1 .image {
  position: relative;
}

.section1 .image *:not(#mainImg) {
  position: absolute;
}

.section1 .image #mainImg {
  width: 18em;
  margin: 2em 0;
}

.section1 .image #left-eye {
  top: 28%;
  left: 20%;
  width: 4.1em;
  -webkit-animation: 3s leftEye;
          animation: 3s leftEye;
}

@-webkit-keyframes leftEye {
  0% {
    left: -200%;
  }
}

@keyframes leftEye {
  0% {
    left: -200%;
  }
}

.section1 .image #right-hair {
  top: 17%;
  left: 50%;
  width: 4.1em;
  -webkit-animation: 2s rightHair;
          animation: 2s rightHair;
}

@-webkit-keyframes rightHair {
  0% {
    left: 200%;
  }
}

@keyframes rightHair {
  0% {
    left: 200%;
  }
}

.section1 .image #right-arm {
  top: 64%;
  left: 74%;
  width: 5.7em;
  -webkit-animation: 3s rightArm;
          animation: 3s rightArm;
}

@-webkit-keyframes rightArm {
  0% {
    left: 300%;
  }
}

@keyframes rightArm {
  0% {
    left: 300%;
  }
}

.section1 .image #right-eyerbow {
  top: 28%;
  left: 45%;
  width: 2.9em;
  -webkit-animation: 2s rightEyerbow;
          animation: 2s rightEyerbow;
}

@-webkit-keyframes rightEyerbow {
  0% {
    left: 300%;
  }
}

@keyframes rightEyerbow {
  0% {
    left: 300%;
  }
}

.section1 .image #bottom-beard {
  top: 59%;
  left: 34%;
  width: 4.9em;
  -webkit-animation: 3s bottomBeard;
          animation: 3s bottomBeard;
}

@-webkit-keyframes bottomBeard {
  0% {
    top: 140%;
  }
}

@keyframes bottomBeard {
  0% {
    top: 140%;
  }
}

.section1 .image #nose {
  top: 43.5%;
  left: 27%;
  width: 5.7em;
  -webkit-animation: 3s nose;
          animation: 3s nose;
}

@-webkit-keyframes nose {
  0% {
    top: -100%;
  }
}

@keyframes nose {
  0% {
    top: -100%;
  }
}

.section1 .image #left-hair {
  top: 16%;
  left: 20%;
  width: 5.7em;
  -webkit-animation: 3s leftHair;
          animation: 3s leftHair;
}

@-webkit-keyframes leftHair {
  0% {
    left: -300%;
  }
}

@keyframes leftHair {
  0% {
    left: -300%;
  }
}

.section1 .image #right-ear {
  top: 34%;
  left: 60%;
  width: 2.9em;
  -webkit-animation: 3s ear;
          animation: 3s ear;
}

@-webkit-keyframes ear {
  0% {
    left: 300%;
  }
}

@keyframes ear {
  0% {
    left: 300%;
  }
}

.section1 .image #hat {
  top: 0%;
  left: -13%;
  width: 20.5em;
  z-index: -1;
  -webkit-animation: 3.8s hat;
          animation: 3.8s hat;
}

@-webkit-keyframes hat {
  0% {
    top: -200%;
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes hat {
  0% {
    top: -200%;
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.section1 .image #heart {
  top: 70%;
  left: 16%;
  width: 5.3em;
  -webkit-animation: 3s heart;
          animation: 3s heart;
}

@-webkit-keyframes heart {
  0% {
    left: 300%;
  }
}

@keyframes heart {
  0% {
    left: 300%;
  }
}

.section1 .image #bird {
  top: 4%;
  left: 8%;
  width: 3.5em;
  -webkit-animation: 3s bird;
          animation: 3s bird;
}

@-webkit-keyframes bird {
  0% {
    left: -300%;
  }
}

@keyframes bird {
  0% {
    left: -300%;
  }
}

.section1 .image #girafe {
  top: 48%;
  left: 72%;
  width: 4em;
  -webkit-animation: 3.5s girafe;
          animation: 3.5s girafe;
  z-index: -1;
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
}

@-webkit-keyframes girafe {
  0% {
    -webkit-transform: rotate(-55deg);
            transform: rotate(-55deg);
    left: 52%;
    top: 55%;
  }
}

@keyframes girafe {
  0% {
    -webkit-transform: rotate(-55deg);
            transform: rotate(-55deg);
    left: 52%;
    top: 55%;
  }
}

.section1 .image #iremi {
  top: 50%;
  left: 6%;
  width: 4em;
  -webkit-animation: 3.5s girafe;
          animation: 3.5s girafe;
  z-index: -1;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

@keyframes girafe {
  0% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
    left: 30%;
    top: 60%;
  }
}

.section1 .right {
  width: 20em;
  height: 20em;
  border: 2px solid #000;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: antiquewhite;
  position: relative;
}

.section2 :nth-child(1) {
  width: 100%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.section2 h1 {
  position: absolute;
  color: #f3c9d0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 3rem;
  font-weight: 900;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.582);
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

@media screen and (max-width: 800px) {
  .section2 h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 668px) {
  .section2 h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 668px) {
  .section2 h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .section2 h1 {
    font-size: 1.2rem;
  }
}

.section3 {
  width: 100%;
  height: 100vh;
}

.section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-image: url(./images/pirosmani_36.webp);
  background-position: center;
  background-size: cover;
  height: 30vh;
  background-attachment: fixed;
}

.section5 {
  width: 100%;
  height: 100vh;
}

.galleryHeader {
  background: #e0e0e0;
  text-align: center;
}

.galleryHeader h2 {
  padding: .9em 0;
  font-weight: 400;
  font-size: 1.2rem;
}

@media screen and (max-width: 400px) {
  .galleryHeader h2 {
    padding: .5em 0;
    font-size: 1rem;
  }
}

.photoTypes {
  width: 100%;
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e0e0e0;
}

@media screen and (max-width: 450px) {
  .photoTypes {
    height: 3.5em;
  }
}

.photoTypes .type {
  width: 15%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .photoTypes .type {
    width: 20%;
  }
}

@media screen and (max-width: 450px) {
  .photoTypes .type {
    width: 25%;
  }
}

.photoTypes .type .underType {
  background: #b3b3b3;
  width: 100%;
  height: 5%;
  position: absolute;
  bottom: 0;
}

.photoTypes .type:active .underType {
  background: #363636;
}

.photoTypes .type p {
  font-size: 0.8rem;
  font-weight: 500;
}

@media screen and (max-width: 450px) {
  .photoTypes .type p {
    font-size: 0.7rem;
  }
}

.photos {
  width: 100%;
  background: cornflowerblue;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 3em;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  -webkit-column-gap: 3.5em;
          column-gap: 3.5em;
  row-gap: 2em;
}

.photos img {
  max-width: 18em;
}
/*# sourceMappingURL=style.css.map */